<div class="layout">

  <!--Tool bar-->
  <div class="toolbar">

    <img class="back-arrow" src="assets/arrow_back_black_24dp.svg">
    <div class="title">
      <p>Chat box</p>
    </div>
  </div>

  <div class="chat-body">
    <mat-card  class="chat-card" *ngFor="let msg of messages">
      <p class="chat-message-txt">{{msg.message}}</p>
      <p class="chat-time-txt">12:00 A.M</p>
    </mat-card>
  </div>

  <div class="chat-footer">
    <input class="input-box" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" >
    <button class="send-btn" (click)='sendMessage()'> Send</button>
  </div>
</div>