@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.layout {
  height:100vh;
  background-color: rgb(247, 241, 241);
}

.toolbar {
  height: 56px; 
  width: 100%;
  background-color: darkseagreen;
  display: flex;
}

.back-arrow {
  margin: 16px;
  align-self: center;
  fill: white;
}

.title {
  font-size: 18px;  
  align-self: center;
}

.chat-footer {
  position: fixed;
  width: 100%;
  bottom: 0;

  height: 3.5rem;
  display: flex;
}

.input-box {
  flex-grow: 2; 
  margin: 5px 2px;
}

.send-btn {
  align-content: center;
  flex-grow: 1;
  margin: 5px 2px;
}

.chat-body {
  display: grid;
  flex-direction: column;
  grid-column: 1;
  overflow: scroll;
}

.chat-card {
  width: fit-content;
  margin: .3em;
  padding: .75em;
  display: flex;
}

.chat-message-txt {
  font-size: 1em;
}

.chat-time-txt {
  font-size: .75em;
  white-space: nowrap;

  align-self: flex-end;
  justify-self: flex-end;
  padding: .2em;
}