.screen-bg {
  width: 100%;  
  height: 100%;
  position: fixed;
  background-color: brown;

  display: flex;
  justify-content: center;
}

.scaffold {
  align-self: center;
}

.welcome-title {
  font: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
